Pygments="^2.7.4"
{% if cookiecutter.__use_markdown == "True" -%}
recommonmark="^0.7.1"
{%- endif %}
sphinx = "^3.4.3"
sphinx-autobuild = "^2020.9.1"
sphinx-click = "^2.5.0"
sphinx-rtd-theme = "^0.5.1"
